<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      body{
        background-color: rgb(20, 79, 134);
      }
      th{
        color:rgb(20, 79, 134);
        font-weight: bolder;
      }
      td{
        color:rgb(37, 55, 58);
        font-weight: bold;
      }
      #pro_img{
        width:150px;
        height: 150px;
        border-radius: 50%;
        display: inline;
        position: relative;
        left: 250px;
      }
    </style>
    <title><%=data.name %></title>
  </head>
  <body >
    <%- include ('user-navbar.ejs') %>
    <div style=" background-color: white; margin:100px; width:1200px; border-style: solid;padding: 30px; border-radius: 10px;">
         <table class="table ">
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td><%=data.username %></td>
              <td colspan="2" rowspan="2"><img id="pro_img" src="<%=data.profile_img %>" ></td>

            </tr>
            <tr>
              <th scope="row">Email</th>
              <td><%=data.email %></td>
            </tr>
            <tr>
              <th scope="row">Mobile Number</th>
              <td><%=data.mobile_no %></td>
            </tr>
            <tr>
              <th scope="row">Gender</th>
              <td ><%=data.gender %></td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td ><%=data.description%></td>
            </tr>
            <tr>
              <th scope="row">Address</th>
              <td ><%=data.address %></td>
            </tr>
          </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>